{{!< main}}
<section class="container">
  <h2>Bienvenido</h2>
  {{#if msg}}
    <p class="alert">{{msg}}</p>
  {{/if}}

  <section class="container chat-container">
    <h2>Sistema de mensajeria</h2>
    <form id="chatForm" class="mb-3">
      <input
        type="text"
        id="messageInput"
        placeholder="Escriba aqui su mensaje"
        class="form-control mb-2"
        autocomplete="off"
      />
      <button>Enviar</button>
    </form>
    <ul id="messages"></ul>
    <button id="disconnectBtn">Desconectarse</button>
  </section>
</section>

<script src="/sweetalert2/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>