{{!< main}}
<section class="container">
    <h2>Bienvenido</h2>
    {{#if msg}}
    <p class="alert">{{msg}}</p>
    {{/if}}
    <p>En este proyecto veremos</p>
    <ul>
        <li>Motor de plantillas <strong>Handlebars</strong></li>
        <li>Ruteo modular <code>Router</code></li>
        <li>Carga de archivos con <strong>Multer</strong></li>
        <li>Recursos estáticos en <code>/public</code></li>
    </ul>
    <div class="container logo">
        <img src="/static/img/logo.png" alt="">
    </div>
</section>